body {
  margin: 0;
  text-align: center;
  font-family: 'PT Sans Caption', sans-serif;
}

h1, h2, p {
  color: #ffffff;
}

.header {
  width: 100%;
  display: table;
  margin: 0;
  max-width: none;
  background-color: #373B44;
  height: 100vh;
  background-image:url("images/bg01.jpg");
  background-repeat:no-repeat;
  background-size:cover;
}

.middle {
  width: 100%;
  display: table;
  margin: 0;
  max-width: none;
  background-color: #373B44;
  height: 100vh;
  background-image:url("images/bg02.jpg");
  background-repeat:no-repeat;
  background-size:cover;
}

.bottom {
  width: 100%;
  display: table;
  margin: 0;
  max-width: none;
  background-color: #373B44;
  height: 100vh;
  background-image:url("images/bg03.jpg");
  background-repeat:no-repeat;
  background-size:cover;
}

/* Header section */
.container {
  padding: 20% 12.5%;
  height: 70vh;
  position: relative;
  background-color: #000;
}

.top-right {
  position: absolute;
  top: 2%;
  right: 24.5%;
}

.social-icon {
  margin: 20px 10px;
  font-size: 40px;
  color: #ffffff;
}

.social-icon:hover {
  color: #000;
}

.social-links {
  text-align: center;
}

.date {
  font-size: 2rem;
  font-weight: bold;
  text-align: right;
}

.logo-img {
  width: 100%;
}

.location-title {
  margin: 3rem;
  text-align: left;
  font-size: 2rem;
  font-weight: bold;
}

.button {
  background-color: Transparent;
  background-repeat:no-repeat;
  border: 2px solid hsla(0,0%,100%,.4);
  overflow: hidden;
  outline:none;
  color: #ffffff;
  padding: 16px 150px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 2rem;
  font-weight: bold;
  transition-duration: 0.4s;
  cursor: pointer;
  margin-bottom: 5%;
}

.button:hover {
  background-color: #ffffff;
  color: #000;
}

/* Middle container */
.dj-container {
  position: relative;
}

.dj-title {
  font-size: 3rem;
  font-weight: bold;
  position: absolute;
  margin: 20px;
}

.dj-image {
  width: 100%;
  height: 100vh;
}

.dj-bio {
  text-align: left;
  font-size: 1.5rem;
}

.dj-mix-centered {
  position: absolute;
  top: 80%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* Footer */
footer {
  padding: 50px;
  text-align: center;
  color: #DBEDF3;
  font-family: sans-serif;
}

@media screen and (max-width: 600px) {
  .logo-img {
    width: 100%;
  }
}

/* ==== GRID SYSTEM ==== */

.row {
  position: relative;
  width: 100%;
}

.row [class^="col"] {
  float: left;
  min-height: 0.125rem;
}

.col-1,
.col-2,
.col-3,
.col-4,
.col-5,
.col-6,
.col-7,
.col-8,
.col-9,
.col-10,
.col-11,
.col-12 {
  width: 96%;
  margin-right: 3.5rem;
}

.col-1-sm {
  width: 4.33%;
}

.col-2-sm {
  width: 12.66%;
}

.col-3-sm {
  width: 21%;
}

.col-4-sm {
  width: 29.33%;
}

.col-5-sm {
  width: 37.66%;
}

.col-6-sm {
  width: 46%;
}

.col-7-sm {
  width: 54.33%;
}

.col-8-sm {
  width: 62.66%;
}

.col-9-sm {
  width: 71%;
}

.col-10-sm {
  width: 79.33%;
}

.col-11-sm {
  width: 87.66%;
}

.col-12-sm {
  width: 96%;
}

.row::after {
	content: "";
	display: table;
	clear: both;
}

.hidden-sm {
  display: none;
}

@media only screen and (min-width: 33.75em) {  /* 540px */
  .container {
    width: 90%;
  }
}

@media only screen and (min-width: 45em) {  /* 720px */
  .col-1 {
    width: 4.33%;
  }

  .col-2 {
    width: 12.66%;
  }

  .col-3 {
    width: 21%;
  }

  .col-4 {
    width: 29.33%;
  }

  .col-5 {
    width: 37.66%;
  }

  .col-6 {
    width: 46%;
  }

  .col-7 {
    width: 54.33%;
  }

  .col-8 {
    width: 62.66%;
  }

  .col-9 {
    width: 71%;
  }

  .col-10 {
    width: 79.33%;
  }

  .col-11 {
    width: 87.66%;
  }

  .col-12 {
    width: 96%;
  }

  .hidden-sm {
    display: block;
  }
}

@media only screen and (min-width: 60em) { /* 960px */
  .container {
    width: 75%;
    max-width: 60rem;
  }
}
