body {
  margin: 0;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
}

h1, h2, p {
  color: #ffffff;
}

.header {
  width: 100%;
  display: table;
  margin: 0;
  max-width: none;
  background-color: #373B44;
  height: 100vh;
  background-image:url("images/bg01.jpg");
  background-repeat:no-repeat;
  background-size:cover;
}

.middle {
  width: 100%;
  display: table;
  margin: 0;
  max-width: none;
  background-color: #373B44;
  height: 100vh;
  background-image:url("images/bg02.jpg");
  background-repeat:no-repeat;
  background-size:cover;
}

.bottom {
  width: 100%;
  display: table;
  margin: 0;
  max-width: none;
  background-color: #373B44;
  height: 100vh;
  background-image:url("images/bg03.jpg");
  background-repeat:no-repeat;
  background-size:cover;
}

.logo {
  padding-top: 5%;
  margin: auto;
  text-align: center;
}

.logo-img {
  width: 17%;
}

.date {
  font-size: 2.5rem;
  line-height: 1.5;
  font-weight: bold;
}

.date-title {
  font-size: 1rem;
  font-weight: bold;
}

.date-description {
  font-size: 1rem;
  line-height: 1.5;
}

.middle-container {
  padding: 10%;
}

div.gallery img {
  width: 100%;
  height: auto;
}

div.desc {
  padding: 15px;
  text-align: left;
}

.responsive {
  padding: 0 6px;
  float: left;
  width: 40%;
}

.button {
  background-color: Transparent;
  background-repeat:no-repeat;
  border: 1px solid hsla(0,0%,100%,.4);
  overflow: hidden;
  outline:none;
  color: #ffffff;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1rem;
  transition-duration: 0.4s;
  cursor: pointer;
  margin-bottom: 5%;
}

.button:hover {
  background-color: #ffffff;
  color: #000;
}

footer {
  padding: 50px;
  text-align: center;
  color: #DBEDF3;
  font-family: sans-serif;
}

.social-icon {
  margin: 20px 10px;
  font-size: 25px;
  color: #ffffff;
}

.mixcloud {
  padding: 10%;
}

@media screen and (max-width: 600px) {
  .logo-img {
    width: 60%;
  }
  .date-description {
    padding: 0 10% 0 10%;
  }
}

@media only screen and (max-width: 700px) {
  .responsive {
    width: 49.99999%;
    margin: 6px 0;
  }
}

@media only screen and (max-width: 500px) {
  .responsive {
    width: 100%;
  }
}
