body {
  margin: 0;
  background-color: rgba(0, 0, 0);
}

html {
  scroll-behavior: smooth;
}

hr {
  height: 1px;
}

.solid-sign {
  font-family: "ProtoSans56" !important;
}
.qtickets-button {background: #000000; border: 1px solid #000000} .qtickets-button:hover {background: #1a1a1a; border-color: #1a1a1a}
